div.datasjs-buttons {
    align: left;
  }
  
  div.datasjs-buttons button {
    color: rgb(210,210,210);
    text-decoration: none;
    width: 9px;
  }

  div.datasjs-buttons:hover button:disabled {
    color: rgb(60,60,60);
    text-decoration: none;
    width: 9px;
  }

  div.datasjs-buttons:hover button {
    color: rgb(120,210,255);
    text-decoration: none;
    width: 9px;
  }
  
  div.datasjs-buttons button i {
    width: 9px;
  }
  
  div.datasjs-buttons button:hover {
    color: rgb(0,128,192);
    text-decoration: none;
  }
  
  div.datasjs-buttons span {
    color: rgb(210,210,210);
  }
  
  div.datasjs-buttons:hover span {
    color: gray;
  }
  
  div.add-item-div {
    position:absolute;
    left:0;
    top:0;
    background-color:white;
    height:100%;
    width:100%;
  }

/*
 items
tr.data-item td.data-value {
  overflow: 'hidden';
  text-overflow: 'ellipsis';
  word-wrap: 'none';
  white-space: 'nowrap';
}

tr.data-item td.strikethrough a {
  color: green;
  text-decoration: 'line-through';
}
*/